###########
# ltp src #
###########
ltp

###########
# data    #
###########
ltp_data

###########
# outputs #
###########
output
CMakeFiles
cmake_install.cmake
CmakeCache.txt
Makefile
libs

###########
# IDEs    #
###########
.idea
